{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h1 class="text-center">Изменение пароля</h1>
        <form method="POST">
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Текущий пароль</label>
                <div class="col-sm-8">
                <input class="form-control" type="password" name="nowPassword" id="nowPassword">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Новый пароль</label>
                <div class="col-sm-8 has-validation">
                <input class="form-control {% if password_error_list %}is-invalid{% endif %}" type="password" name="newPassword" id="newPassword">
                <div id="validationServerUsernameFeedback1" class="invalid-feedback">
                    {% if password_error_list != None %}
                      {% for error in password_error_list %}
                        {{ error }}<br>
                      {% endfor %}
                    {% endif %}
                  </div>
            </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label">Повторите новый пароль</label>
                <div class="col-sm-8">
                <input class="form-control" type="password" name="repeatPassword" id="repeatPassword">
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Изменить пароль</button>
        </form>
    </div> 
    <div class="col-3"></div> 
</div>
{% endblock %}