{% extends 'base.html' %}

{% block content %}
<div class="h-100 text-center d-flex p-3 bg-light">
    <div class="m-auto">
        <h1 class="title mb-5 font-weight-bold">Электронная библиотека</h1>

        <div class="container">
            <p class="description w-75 mb-5 px-3 mx-auto">
                ЛитРес – самая большая библиотека электронных книг – скачивай, читай и слушай свыше 805 тысяч лицензионных электронных книг и аудиокниг для любых устройств. На LitRes вы найдете рейтинги лучших книг, отзывы, рецензии, рекомендации, популярные авторы и многое другое – заходи!
            </p>
        </div>
        
    </div>
</div>
{% endblock %}