{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h2 class="my-3 text-center text-uppercase font-weight-bold">Просмотр книги</h2>
    
    <table class="table">
        <tbody>
            <tr>
                <td>Название книги</td>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <td>Жанры</td>
                <td>
                    {% for genre in book_genre %}
                    {% if genre.books_id == book.id %}{{ genre.genre.genre_name }}</br>{% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
            <td>Автор</td>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <td>Издательство</td>
            <td>{{ book.publisher }}</td>
        </tr>
        <tr>
            <td>Описание книги</td>
            <td>{{ book.description }}</td>
        </tr>
    </tbody>
</table>
<div class="col-md-3 mb-3 mb-md-0 d-flex align-items-center justify-content-center">
    <div class="course-logo" style="background-image: url({{ img }});">
    </div>
</div>
{% if current_user.is_authenticated and not review %}
<div class="text-center my-3">
    <a class="btn btn-lg btn-dark" href="{{ url_for('book.review', book_id=book.id) }}">Оставить отзыв</a>
</div>
{% endif %}
{% if review %}
<h2 class="my-3 text-center text-uppercase font-weight-bold">Рецензия</h2>
<div class="mb-1 form-group">
    <label for="exampleFormControlTextarea1">Ваша рецензия</label>
    <textarea class="form-control" id="exampleFormControlTextarea" rows="3" name="review" disabled>{{  review.text  }}</textarea>
</div>
<div class="mb-3 form-group">
    <label for="exampleFormControlSelect1">Оценка</label>
    <select class="form-control" id="exampleFormControlSelect" name="mark" disabled>
        {% if review.rating == 5 %}<option value="5">Отлично</option>{% endif %}
        {% if review.rating == 4 %}<option value="4">Хорошо</option>{% endif %}
        {% if review.rating == 3 %}<option value="3">Удовлетворительно</option>{% endif %}
        {% if review.rating == 2 %}<option value="2">Неудовлетворительно</option>{% endif %}
        {% if review.rating == 1 %}<option value="1">Плохо</option>{% endif %}
        {% if review.rating == 0 %}<option value="0">Ужасно</option>{% endif %}
    </select>
</div>
{% endif %}
</div>

{% endblock %}